<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sooltoryteller.mapper.BbstLikesMapper">

<!-- 좋아요 -->
<insert id="likeBbst">
	insert into bbst_likes(bbst_likes_id, bbst_id, member_id, regdate)
	values(bbst_likes_SEQ.nextval, #{bbstId}, #{memberId}, sysdate)
</insert>

<!-- 좋아요 취소 -->
<delete id="cancelLikeBbst">
	delete from bbst_likes
	where bbst_id = #{bbstId}
	and member_id = #{memberId}
</delete>

<!-- 좋아요 상태 -->
<select id="bbstLikeStus" resultType="int">
	select count(*) from bbst_likes
	where bbst_id = #{bbstId}
	and member_id = #{memberId}
</select>

<!-- 게시글 좋아요수 -->
<select id="bbstLikeCnt" resultType="int">
	select count(*) from bbst_likes
	where bbst_id = #{bbstId}
</select>

<!-- 마이페이지 -->
<!-- 내가 좋아요 누른 게시글 리스트 -->




</mapper>