<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sooltoryteller.mapper.LiqMapper">
<resultMap id="LiqVO" type="com.sooltoryteller.domain.LiqVO">
		<result column="liq_seq" property="liqSeq" />
		<result column="liq_co_seq" property="liqCoSeq" />
		<result column="liq_nm" property="liqNm" />
		<result column="liq_prc" property="liqPrc" />
		<result column="liq_cate" property="liqCate" />
		<result column="liq_capct" property="liqCapct" />
		<result column="liq_lv" property="liqLv" />
		<result column="liq_irdnt" property="liqIrdnt" />
		<result column="liq_ards" property="liqArds" />
		<result column="liq_img" property="liqImg" />
		
		<!-- 전통주내용 -->
		<association property="liqCn" javaType="com.sooltoryteller.domain.LiqCnVO">
		<result column="liq_seq" property="liqSeq" />
		<result column="liq_intro" property="liqIntro" />
		<result column="liq_pair" property="liqPair" />
		</association>
		
		<!-- 양조장-->
		<association property="liqCo" javaType="com.sooltoryteller.domain.LiqCoVO">
		<result column="liq_co_seq" property="liqCoSeq" />
		<result column="liq_co_nm" property="liqCoNm" />
		<result column="liq_co_addr" property="liqCoAddr" />
		<result column="liq_co_hmpg" property="liqCoHmpg" />
		<result column="liq_co_telno" property="liqCoTelno" />
		</association>
</resultMap>


<select id="get" resultMap = "LiqVO">
select 
 l.liq_seq,l.liq_nm,l.liq_prc,l.liq_cate,l.liq_capct,l.liq_lv,l.liq_irdnt,l.liq_ards,l.liq_img,
 n.liq_intro,n.liq_pair,
 c.liq_co_nm,c.liq_co_addr,c.liq_co_hmpg,c.liq_co_telno
 from liq l, liq_cn n, liq_co c
 where l.liq_seq=n.liq_seq
 and l.liq_co_seq=c.liq_co_seq
 and l.liq_seq =#{liqSeq}
</select>

<select id="getAll" resultMap="LiqVO">
<![CDATA[
select 
l.liq_seq, c.liq_co_seq, l.liq_nm, l.liq_prc,l.liq_cate,l.liq_capct,l.liq_lv, l.liq_irdnt,l.liq_img,
c.liq_co_nm
from liq l,liq_co c
where l.liq_co_seq=c.liq_co_seq
and l.liq_seq>0
]]>
</select>
<select id="getAllByKind" resultMap="LiqVO">
<![CDATA[
select 
l.liq_seq, c.liq_co_seq, l.liq_nm, l.liq_prc,l.liq_cate,l.liq_capct,l.liq_lv, l.liq_irdnt,l.liq_img,
c.liq_co_nm
from liq l,liq_co c
where l.liq_co_seq=c.liq_co_seq
and l.liq_cate = #{kind}
and l.liq_seq>0
]]>
</select>




</mapper>