<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sooltoryteller.mapper.LiqMapper">
<resultMap id="LiqVO" type="com.sooltoryteller.domain.LiqVO">
		<result column="liq_id" property="liqId" />
		<result column="liq_co_id" property="liqCoId" />
		<result column="nm" property="nm" />
		<result column="prc" property="prc" />
		<result column="cate" property="cate" />
		<result column="capct" property="capct" />
		<result column="lv" property="lv" />
		<result column="irdnt" property="irdnt" />
		<result column="ards" property="ards" />
		<result column="img" property="img" />
		
		<!-- 전통주내용 -->
		<association property="liqCn" javaType="com.sooltoryteller.domain.LiqCnVO">
		<result column="liq_id" property="liqId" />
		<result column="intro" property="intro" />
		<result column="pair" property="pair" />
		</association>
		
		<!-- 양조장-->
		<association property="liqCo" javaType="com.sooltoryteller.domain.LiqCoVO">
		<result column="liq_co_id" property="liqCoId" />
		<result column="co_name" property="nm" />
		<result column="addr" property="addr" />
		<result column="hmpg" property="hmpg" />
		<result column="telno" property="telno" />
		</association>
</resultMap>


<select id="get" resultMap = "LiqVO">
select 
 l.liq_id,l.nm,l.prc,l.cate,l.capct,l.lv,l.irdnt,l.ards,l.img,
 n.intro,n.pair,
 c.nm co_name,c.addr,c.hmpg,c.telno
 from liq l, liq_cn n, liq_co c
 where l.liq_id=n.liq_id
 and l.liq_co_id=c.liq_co_id
 and l.liq_id =#{liqId}
</select>

<select id="getAll" resultMap="LiqVO">
<![CDATA[
select 
l.liq_id, c.liq_co_id, l.nm, l.prc,l.cate,l.capct,l.lv, l.irdnt,l.img,
c.nm co_name
from liq l,liq_co c
where l.liq_co_id=c.liq_co_id
and l.liq_id>0
]]>
</select>
<select id="getAllByKind" resultMap="LiqVO">
<![CDATA[
select 
l.liq_id, c.liq_co_id, l.nm, l.prc,l.cate,l.capct,l.lv, l.irdnt,l.img,
c.nm co_name
from liq l,liq_co c
where l.liq_co_id=c.liq_co_id
and l.cate = #{kind}
and l.liq_id>0
]]>
</select>




</mapper>