<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sooltoryteller.mapper.OrderMapper">
<!-- 주문 완료 후 -->
<!-- 주문에 데이터 삽입 -->
<insert id="insertOrd">
     <selectKey keyProperty="ordId" order="BEFORE" resultType="long">
         select ord_seq.nextval from dual
      </selectKey>
	insert into ord(ord_id, member_id, ord_date, ttl_qty, ttl_prc)
	values(#{ordId}, #{memberId}, sysdate, #{ttlQty}, #{ttlPrc})
</insert>


<insert id="insertOrdDtl" parameterType="java.util.List">
     <selectKey keyProperty="ordId" order="BEFORE" resultType="long">
         select ord_seq.currval from dual
      </selectKey>
	insert into ord_dtl(ord_dtl_id, ord_id, liq_id, qty, prc)
	select ord_dtl_seq.nextval, A.* from(
	<foreach item="item"  collection="list" separator="UNION ALL">
	select  #{ordId} as ord_id,
			#{item.liqId} as liq_id,
			#{item.qty} as qty,
			#{item.prc} as prc
			from dual
	</foreach>) A
</insert>

<!-- 주문이력에 데이터 삽입 -->
<insert id="insertOrdHist">
     <selectKey keyProperty="ordId" order="BEFORE" resultType="long">
         select ord_seq.currval from dual
      </selectKey>
	insert into ord_hist(ord_hist_id, ord_id, member_id, ord_stus, chg_ord_stus)
	values(ord_hist_seq.nextval, #{ordId}, #{memberId}, #{ordStus}, #{chgOrdStus})
</insert>

<!-- 각 항목 조회 -->
<!-- 주문 조회 -->
<select id="getOrd" resultType="com.sooltoryteller.domain.OrdVO">
	select * from ord
	where ord_id = #{ordId}
</select>

<!-- 주문내역 조회 -->
<select id="getOrdDtl" resultType="com.sooltoryteller.domain.OrdDtlVO">
	select * from ord_dtl
	where ord_id = #{ordId}
</select>

<!-- 주문이력 조회  : 최신 주문상태 1건 -->
<select id="getOrdHist" resultType="com.sooltoryteller.domain.OrdHistVO">
	select i.* from (
	    select * from ord_hist
	    where ord_id = #{ordId}
	    order by chg_ord_stus desc) i
	where rownum = 1
</select>

<!-- 결제 완료 후 -->
<!-- 주문의 주문상태 업데이트 -->
<update id="updateOrdStus">
	update ord
	set ordStus = #{ordStus}
	where ord_id = #{ordId}
</update>
</mapper>