@charset "UTF-8";

	.s-main-column {
		background-color: rgb(250 245 255);
	}
	
	.h-login-p{
	  padding: 10px;
	}
	
	.h-login-content{
	height: 450px;
	width: 450px;
	border: 3px solid rgb(181, 135, 189);
	background-color: white;
	margin-top:100px;
	display: inline-block;
	overflow: hidden;
	}
	
	.h-content{
	  margin: 20px;
	}
	.login-btn{
	  height: 40px;
	  width: 350px;
	  border: none;
	  margin: 0;
	  color:white;
	  background-color: rgb(181, 135, 189);
	}
	.snslogin{
	  height: 45px;
	  width: 120px;
	  margin: 0 20px 0 20px;
	}
	
	
	.h-modal {
		  display: none;
		  position: fixed; 
		  z-index: 1;
		  padding-top: 100px; 
		  left: 0;
		  top: 0;
		  width: 1520px; 
		  height: 100%; 
		  overflow: auto; 
		  background-color: rgb(0,0,0); 
		  background-color: rgba(0,0,0,0.4);
	}
	

	.h-modal-content {
      width: 400px;
      height: 200px;
	  background-color: #f2eff9;
	  margin: auto;
	  padding: 20px;
      text-align: center;
	  border: 3px solid rgb(181, 135, 189);
      border-radius: 3%;
	}

	.h-modal-top{
      height: 30px;
      width: 350px;
	}
	.h-modal-topleft{
      height: 30px;
      width: 170px;
      text-align: left;
      font-weight: bold;
      display: inline-block;
      overflow: hidden;
   }
	.h-modal-topright{
      height: 30px;
      width: 170px;
      text-align: right;
      display: inline-block;
      overflow: hidden;
   }
	.h-modal-bottom{
      width: 320px;
      height: 80px;
      padding: 15px;
	}
	.h-close {
	  color: #aaaaaa;
	  font-size: 20px;
	  font-weight: bold;
	}
	
	.h-close:hover,
	.h-close:focus {
	  color: purple;
	  text-decoration: none;
	}

	.h-btn{
	  height: 30px;
	  width: 300px;
	  border: none;
	  color: white;
	  margin: 10px;
	  background-color: rgb(181, 135, 189);
	}
	#email, #pwd{
	height: 25px;
	width: 200px;
	}