@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	cursor: pointer;
	outline: 0;
}
#h-company-name {
	padding: 20px;
}
a {
	text-decoration: none;
	color: white;
}
.h-logobar {
	width: 1519px;
	height: 70px;
}
.h-logo-img {
	height: 60px;
	width: 145px;
	margin: 15px 0px 0px 30px;
}
.h-logo {
	width: 800px;
	text-align: left;
	display: inline-block;
	margin-bottom: 10px;
}
.h-usermenu {
	width: 700px;
	font-size: 13px;
	text-align: right;
	display: inline-block;
}
.h-dropbtn {
	background-color: Transparent;
	width: 120px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	border: none;
}
.h-dropdown {
	display: inline-block;
}
.h-dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	opacity: 0.8;
	width: 120px;
	z-index: 1;
}
.h-dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size:13px;
}
.d-main-con {
	width: 1520px;
	height: 1000px;
}
.d-main-img-con {
	width: 100%;
	height: 900px;
	background-image: url('/resources/img/Beer-26845_1.gif');
	background-size: cover;
}
#h-dropdown-content a:hover {
	background-color: #F2EFF9;
}
#h-dropdown:hover #h-dropdown-content {
	display: block;
}
#h-dropdown:hover .h-dropbtn {
	border-bottom: 3px solid purple;
}