@charset "UTF-8";
	table {
      border-collapse: collapse;
      width: 1000px;
      margin-left: 20px;
    }
        
    td, th {
      border-bottom: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
        
    tr:nth-child(even) {
      background-color: rgb(238 243 255);
    }
    
    ul{
      list-style:none;
    }   
    
    a{
      text-decoration: none;
      color: black;
    }
 	.pull-right{  
      text-align: right;
      margin: 13px 0 0 0;
	}
    
	.h-pagination {
  	  display: inline-block;
	}
	
	.h-pagination li {
  	  color: black;
  	  float: left;
  	  padding: 4px 10px;
  	}
  	
  	.h-pagination li.active{
  	  background-color: rgb(10, 29, 74);
  	}
  	
	.h-pagination li.active >a {
  	  font-weight:bold;
  	  color: white;
	}

	.h-pagination li:hover:not(.active) {background-color: rgb(80 98 140);}

	.h-faq-searchbtn{
	   width: 60px;
       height: 25px;
       border: none;
       background-color: navy;
       color: white;
     }
     #h-searchForm{
       margin: 10px 0 0 22px;
     
     }
	.h-modal {
	  display: none;
	  position: fixed; 
	  z-index: 1;
	  padding-top: 100px; 
	  left: 0;
	  top: 0;
	  width: 1520px; 
	  height: 100%; 
	  overflow: auto; 
	  background-color: rgb(0,0,0); 
	  background-color: rgba(0,0,0,0.4);
	}
	
	.h-modal-content {
	  background-color: white;
	  border-radius:10px;
	  margin: auto;
	  padding: 20px;
	  width: 450px;
	  height: 150px;
	}
	/* The Close Button */
	.h-close {
	  color: #aaaaaa;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
	}
	.h-close:hover,
	.h-close:focus {
	  color: purple;
	  text-decoration: none;
	}
	.h-btn{
	  height: 30px;
	  width: 50px;
	  border: none;
	  color: white;
	  margin: 10px;
	  background-color: rgb(181, 135, 189);
	}