@charset "UTF-8";

.d-mypage-wrapper {
	width: 1210px;
	height: 900px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border-style:solid;
	border-color:#e1e1e1;
	box-shadow: 5px 5px 5px 5px #e1e1e1;
}
.d-mypage-left {
    float: left;
	width: 350px;
	height: 900px;
	border-style: none;
	display:inline-block;
}
.d-mypage-right {
    float: left;
	width: 850px;
	height: 900px;
	border-style: none;
    border-left-style:none;
	display:inline-block;
}
.d-mypage-right h2{
	padding : 20px; 
	border-bottom-style: solid;
    border-bottom-color:rgb(170, 168, 168);
    margin:20px;
}

.d-mypage-footer {
	height: 200px;
	background-color: rgba(196, 150, 204, 0.562);
}
.d-left-con{
    width: 350px;
	height:850px;
    margin:auto;
}
.d-mypage-profile-con {
	text-align: center;
	margin:auto;
    margin-top: 50px;
    width: 300px;
	height: 300px;
    border-style: solid;
	border-color:#e1e1e1;
}
.d-mypage-profile {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin-top:20px;
	border:solid 1px #ccaeff;
}

.d-mypage-info {
	width: 270px;
	height: 150px;
	margin: auto;
    font-size: 20px;
}

.d-mypage-menu-con{
    width: 200px;
    border-bottom-style: solid;
    border-bottom-color:rgb(170, 168, 168) ;
    margin: auto;
    padding: 20px;
    list-style: none;
   
}
.d-mypage-menu{
    width: 200px;
    margin:auto;
    padding: 0;
    list-style: none;
}

.d-mypage-ref{
   font-size: 20px;
   font-weight: 700;
   padding-bottom: 20px;
}    
.d-mypage-li{
    padding-bottom: 10px;
}  

.d-paging {
	float: right;
	
}

.d-paging ul {
	list-style: none;
	margin:10px;
}

.d-paging li {
	float: left;
}

.d-paging-btn-active {
	text-align: center;
	width: 25px;
	height: 25px;
	background-color: rgb(181, 135, 189);
	border-radius: 50%;
}

.d-paging-btn-active a {
	color: white;
}

.d-paging-btn-none {
	text-align: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.d-my-revw-img{
	width:40px;
	height:60px;
}
.d-con {
	width:700px;
	height:800px;
	margin:auto;
}
.d-like{
	list-style: none;
    margin-top:50px;
}
.d-like li {
	padding:20px;
}

.d-revw{
	list-style: none;
    margin-top:50px;
}
.d-revw li {
	padding:20px;
}
.d-con button {
	float:right;
	border-style:none;
	background-color:white;
	padding:10px;
	color:rgb(181, 135, 189);
	
}
.d-revw-con{
	border-bottom-style: solid;
    border-bottom-color: rgb(245, 245, 245);
}

/* The Modal (background) */
.d-revw-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.d-revw-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 500px;
	height: 600px;
}

/* The Close Button */
.d-revw-modal-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.d-revw-modal-close:hover, .d-revw-modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.d-like-cancel-btn{
	float:right;
	font-size:30px;
	color:rgb(181, 135, 189);
}	

.star_grade span {
	text-decoration: none;
	font-size: 30px;
	color: gray;
}

.star_grade span.on {
	color: orange;
}

.star_grade :hover {
	cursor: pointer;
}

.d-revw-star {
	font-size:20px;
	color: orange;
}
.d-star-box{
 	display:inline-block;
 	padding:3px 8px 3px 8px;
 	background-color: #f9f7d6;
 	border-style:none;
	border-radius: 10px 10px 10px 10px;
	margin:10px;
}