@charset "UTF-8";

.s-bbst-container {
	width: 800px;
	height: 700px;
	margin: 0 auto;
}

.s-bbst-item-container {
	height: 180px;
	width: 180px;
	margin: 20px 0 30px 60px;
	display: inline-block;
	position: relative;
	float: left;
	cursor: pointer;
}

.s-bbst-img {
	height: 180px;
	width: 180px;
	display: block;
}

.s-bbst-item-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 180px;
	width: 180px;
	opacity: 0;
	transition: .3s ease;
	background-color: rgb(181, 135, 189);
}

.s-bbst-item-container:hover .s-bbst-item-overlay {
	opacity: 0.9;
}

.s-bbst-item-overlay-info {
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 180px;
	transform: translate(-50%, -50%);
	text-align: center;
	display: inline-block;
}

.s-bbst-item-overlay-span {
	color: white;
	font-size: 12px;
}


.d-paging {
	float: right;
}

.d-paging ul {
	list-style: none;
	margin: 10px;
}

.d-paging li {
	float: left;
}

.d-paging-btn-active {
	text-align: center;
	width: 25px;
	height: 25px;
	background-color: rgb(181, 135, 189);
	border-radius: 50%;
}

.d-paging-btn-active a {
	color: white;
}

.d-paging-btn-none {
	text-align: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}