@charset "UTF-8";

.s-main-background {
	width: 1520px;
	background-color: #daebe8;
}

.s-main-column {
	height: auto;
	width: 1000px;
	background-color: white;
	margin: 20px auto 0 auto;
}

.s-bbst-main-img-container {
	height: 750px;
	width: 100%;
}

.s-bbst-main-img {
	height: 100%;
	width: 100%;
}

.s-bbst-main-tool {
	margin: 20px auto 10px auto;
	height: 50px;
	width: 1000px;
	background-color: white;
}

.s-bbst-register-btn {
	height: 30px;
	width: 60px;
	margin: 10px 0 0 75px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
	color: white;
	background-color: #588c7e;
}

.s-bbst-register-btn a {
	color: white;
}

.s-bbst-register-btn:hover {
	background-color: #3f6d61;
}

.s-bbst-search-container {
	margin: 10px 75px 0 0px;
	display: inline-block;
	float: right;
}

.s-search-category {
	height: 20px;
	width: 170px;
}

.s-bbst-search-btn {
	height: 30px;
	width: 60px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
	background-color: #77a8a8;
	color: white;
}

.s-bbst-search-btn:hover {
	background-color: #5d8787;
}

.s-search-keywordBar {
	height: 20px;
	width: 200px;
	margin: 0 5px;
}

.s-bbst-container {
	width: 900px;
	margin: 0 auto;
}

.s-bbst-item-container {
	height: 300px;
	width: 250px;
	margin: 20px 25px 10px 25px;
	display: inline-block;
	position: relative;
	float: left;
	border: 1px #f1f1f1 solid;
}

.s-bbst-img {
	height: 248px;
	width: 248px;
	display: block;
}

.s-bbst-item-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 248px;
	width: 248px;
	opacity: 0;
	transition: .3s ease;
	background-color: #5b9aa0;
}

.s-bbst-item-container:hover .s-bbst-item-overlay {
	opacity: 0.9;
}

.s-bbst-item-overlay-info {
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: inline-block;
}

.s-bbst-item-overlay-span {
	color: white;
}

.s-bbst-info-div {
	height: 50px;
	width: 248px;
	margin-top: 3px;
	font-size: 11px;
}

.s-pagination {
	width: 800px;
	bottom: 0;
	display: block;
	overflow: hidden;
	list-style: none;
	margin: 25px auto 0 auto;
	padding: 20px 0;
	text-align: center;
}

.s-pagination li {
	height: 25px;
	width: 25px;
	display: inline-block;
	cursor: pointer;
}

.s-pagination li:hover, .s-pagination li:hover >a  {
	color: white;
	background-color: #96ceb4;
}

.s-pagination li.active, .s-pagination li.active >a {
	color: white;
	background-color: #5b9aa0;
}
