@charset "UTF-8";

.s-register-container {
	border: 1px solid black;
	height: 900px;
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

.s-register-topbar {
	height: 30px;
	width: 100%;
	display: inline-block;
}

.s-topbar-title-div {
	height: 100%;
	width: 580px;
	float: left;
}
.s-topbar-btn-div {
	height: 100%;
	width: 210px;
	float: right;
}

.s-topbar-btn {
	width: 60px;
	margin-left: 10px;
	border: none;
	cursor: pointer;
	transition: 0.3s;
	float: right;
	color: white;
}

.s-topbar-btn a {
	color: white;
}

.s-form-title-div {
	height: 30px;
	width: 100%;
	margin-bottom: 10px;
	border: 1px rgb(245, 245, 245) solid;
}

.s-form-cnImg-div {
	height: 380px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px rgb(245, 245, 245) solid;
}

.s-select-cnImg {
	height: 280px;
	width: 280px;
	margin: 0 auto;
	background: url("/resources/img/bbst-bg.png");
	background-repeat: no-repeat;
	background-size: 280px 280px;
}

.s-select-cnImg img {
	min-height: 280px;
	min-width: 280px;
	max-height: 280px;
	max-width: 280px;
}

.s-form-cn-div {
	height: 380px;
	width: 100%;
	border: 1px rgb(245, 245, 245) solid;
}

.s-form-cn-innerdiv {
	height: 350px;
	width: 760px;
	margin: 0 auto;
	margin-top: 15px;
}
